/* ADMIN CSS FILE */

html, body {
    font-family: Verdana;
    font-size: 11px;
    height:100%;
    margin:0;
    padding:0;
}
body {
    background-image: url(/img/admin/carbon2.gif);
    background-color: #ffffff;
    background-repeat: repeat-y;
}
body.login {
    background-image: url(/img/admin/carbon.gif);
    background-color: transparent;
    background-repeat: repeat;
}
img {
    border: 0;
}
h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-weight: normal;
}
/* ADMIN LAYOUT */
#siteWrapper
{
    height:auto !important;
    min-height: 100%;
    background-color: #ffffff;
}
#sidebarWrapper {
    width: 250px;
    position: absolute; 
}
#sidebarHeader {
    color: #747474;
    height: 100px;
}
#sidebarHeader #headerLink {
    padding: 10px 0 0 10px;
    display: block;
}
#headerLinks {
    text-align: right;
    padding-right: 10px;
}
#sidebarHeader a {
    color: #ededed;
    text-decoration: none;
}
#sidebarHeader a:HOVER {
    color: #ffffff;
    text-decoration: underline;
}
#adminMenuWrapper ul,
#adminTreeWrapper ul.title
{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}
#adminMenuWrapper ul li a,
#adminTreeWrapper .title a.title
{
    background-image: url(/img/admin/menu.gif);
    background-repeat: no-repeat;
    background-position: 100% -48px;
    display: block;
    height: 24px;
    margin-bottom: 3px;
    padding-right: 10px;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}
#adminMenuWrapper ul li.active a
{
    color: #000000;
    background-position: top right;
}
#adminMenuWrapper ul li ul li a
{
    background-image: none;
    height: 18px;
    font-size: 13px;
    color: #bbbbbb;
}
#adminMenuWrapper ul li.active ul li a
{
    color: #bbbbbb;
}
#adminMenuWrapper ul li ul li a:HOVER {
    background-position: 100% -72px;
    background-image: url(/img/admin/menu.gif);
    color: #ffffff;
}
#adminMenuWrapper ul li ul li.selected a
{
    background-position: 100% -24px;
    background-image: url(/img/admin/menu.gif);
    color: #ffffff;
    font-weight: bold;
}
#copyright {
    color: #bbbbbb;
}
#copyright hr{
    width: 120px;
    border: 0;
    border-top: 1px solid #bbbbbb;
    float: left;
}
#copyright a{
    color: #909090;
}
#copyright a:hover{
    color: #333333;
    text-decoration: none;
}
/* MAIN SITE*/
#mainWrapper {
    margin-left: 250px;
    padding: 0 10px 0 20px;
    height: 100%;
}
#contentWrapper{
    min-height: 300px;
}
#mainHeader {
    padding-top: 10px;
    padding-bottom: 10px;
}
#mainHeader .header {
    font-size: 30px;
    font-weight: bold;
}
/* ADMIN TREE */
#treeWrapper {
    margin: 0 0 50px 40px;
    width: 210px;
}
.treeNode {
    text-align: left;
    padding-left: 10px;
}
.treeNode img {
    border: 0;
}
.treeNode a {
    padding-left: 20px;
    text-decoration: none;
    color: #bbbbbb;
}
.admin_form .treeNode a {
    color: #000000;
}
.treeNode a.folder {
    height: 16px;
    display: block;
    float: left;
    background-image: url(/img/icons/selection.png);
    background-repeat: no-repeat;
}
.focus {
    background-position: left -32px;
}
.open {
    background-position: left -48px;
}
.open.focus {
    background-position: left -16px;
}
.hidden {
    display: none;
}
.hideIcons .deleteIcon,
.hideIcons .viewIcon {
    display: none;
}
.deleteIcon, .viewIcon {
    float: right;
    display: block;
    height: 16px;
    width: 16px;
    
    padding: 0 !important;
}
.deleteIcon {
    background-image: url(/img/icons/page_delete.png);
}
.viewIcon {
    background-image: url(/img/icons/page_view.png);
}
/* ADMIN TABLES */
.admin_table {
    border-collapse: collapse;
    width: 100%;
    height: 100px;
}
.admin_table th {
    background-image: url(/img/admin/tableheader.png);
    background-position: bottom;
    background-repeat: repeat-x;
    height: 25px;
    border-bottom: 2px solid #337db7;
    font-family: Arial;
    font-size: 15px;
}
.admin_table .admin_table_cell {
    text-align: center;
}
.admin_table .admin_table_actions {
    width: 40px;
}
.admin_table .admin_table_row {
    border-top: 1px solid #a9c8e1;
}
.admin_table .highlighted {
    background-color: #dfebf4;
}
.admin_table .admin_table_actions_row {
    height: 20px;
    border-top: 2px solid #337db7;
}
.admin_table .admin_table_actions_row .admin_table_actions {
    text-align: right;
    padding-right: 10px;
}
.admin_table .admin_table_actions_row .admin_table_actions a {
    text-decoration: none;
}
/* ADMIN FORMS */
.admin_form_label {
    float: left;
    width: 120px;
}
.admin_form_field {
    margin-left: 120px;
}
.admin_form_field input[type="text"],
.admin_form_field input[type="password"] {
    width: 300px;
}
.admin_form_field textarea {
    width: 500px;
}
.admin_form_row.admin_form_submit
{
    text-align: center;
    margin-top: 10px;
}
.admin_form_row.form_error
{
    background: #ffe6e6;
    color: #632525;
}
.smallfield {
    width: 75px !important;
}
.tinyfield {
    width: 25px !important;
}
/* CORE COMPONENT */
.admin_component_access {
    display: block; 
    float: left; 
    width: 16px; 
    height: 16px; 
    background-image: url(/img/admin/access.png);
}
.admin_component_access.s { background-position: 0 -16px; } .admin_component_access.s.selected { background-position: 0 0; } .admin_component_access.s:hover { background-position: 0 -32px; }
.admin_component_access.i { background-position: -16px -16px; } .admin_component_access.i.selected { background-position: -16px 0; } .admin_component_access.i:hover { background-position: -16px -32px; }
.admin_component_access.u { background-position: -32px -16px; } .admin_component_access.u.selected { background-position: -32px 0; } .admin_component_access.u:hover { background-position: -32px -32px; }
.admin_component_access.d { background-position: -48px -16px; } .admin_component_access.d.selected { background-position: -48px 0; } .admin_component_access.d:hover { background-position: -48px -32px; }
/* LOGIN */
#loginWrapper {
    background-color: #ffffff;
    width: 500px;
    margin-left: -265px;
    margin-top: -120px;
    position: absolute;
    top: 50%;
    padding: 10px 30px 30px 30px;
    left: 50%;
}
#loginWrapper .header {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    display: block;
}
/* CORE AUTH */
#core_auth .component {
    font-weight: bold;
}
#core_auth .actionItem {
    list-style: none;
}
#core_auth .action {
    float: left;
    width: 160px;
    font-style: italic;
}
#core_auth .privsWrapper {
    margin-left: 160px;
}
#core_auth .priv {
    float: left;
    width: 100px;
}
#core_auth .clearSpacer {
    clear: both;
}
/* NOTIFICATIONS */
.notification {
    border: 1px dashed #fedd00;
    background-color: #fff29d;
    padding: 15px;
    font-size: 13px;
    margin: 5px;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.notification a {
    color: #7c5a00;
}
/* POPUP */
#formWrapperBackground {
    height: 100%;
    width: 100%;
    position: fixed;
    background: url(/img/admin/dialog-bg.png);
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}
#formWrapperBorder {
    background: url(/img/admin/dialog-bg.png);
    width: 650px;
    margin: 100px auto;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#formWrapper {
    background-color: #ffffff;
    min-height: 300px;
    max-height: 500px;
    overflow: auto;
    padding: 10px;
}