#input {
    border: none;
    margin: 0;
    padding: 0;
    font: 14px 'Courier New', Verdana;
    border: 0
}

.te {
    border: 1px solid #bbb;
    padding: 0 1px 1px;
    font: 12px Verdana, Arial
}

.te iframe {
    border: none
}

.teheader {
    height: 31px;
    border-bottom: 1px solid #bbb;
    background: url(/img/tinyeditor/header-bg.gif) repeat-x;
    padding-top: 1px
}

.teheader select {
    float: left;
    margin-top: 5px
}

.tefont {
    margin-left: 12px
}

.tesize {
    margin: 0 3px
}

.testyle {
    margin-right: 12px
}

.tedivider {
    float: left;
    width: 1px;
    height: 30px;
    background: #ccc
}

.tecontrol {
    float: left;
    width: 34px;
    height: 30px;
    cursor: pointer;
    background-image: url(/img/tinyeditor/icons.png)
}

.tecontrol:hover {
    background-color: #fff;
    background-position: 30px 0
}

.tefooter {
    height: 32px;
    border-top: 1px solid #bbb;
    background: #f5f5f5
}

.toggle {
    float: left;
    background: url(/img/tinyeditor/icons.png) -34px 2px no-repeat;
    padding: 9px 13px 0 31px;
    height: 23px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    color: #666
}

.toggle:hover {
    background-color: #fff
}

.resize {
    float: right;
    height: 32px;
    width: 32px;
    background: url(/img/tinyeditor/resize.gif) 15px 15px no-repeat;
    cursor: s-resize
}

#editor {
    cursor: text;
    margin: 10px;
    font: 11px Verdana, Arial;
    text-align: justify;
}

#editor img {
    border: 0;
}

#editor h1,#editor h2,#editor h3,#editor h4 {
    color: #d30000;
    font-family: Arial;
    font-weight: normal;
    padding: 10px 0 0 0;
    margin: 0;
}

#editor h1 {
    font-size: 16px;
}

#editor h2 {
    font-size: 14px;
}

#editor a {
    text-decoration: none;
    color: #e54b4b;
}

#editor a:hover {
    text-decoration: underline;
    color: #c73131;
}

#editor p {
    padding: 0 0 10px 0;
    margin: 0;
}