<!DOCTYPE html>
<html lang="nl-NL" dir="ltr">
<head>
    <meta charset="utf-8">
    <head>
        <title>Admin</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/js/site.js"></script>
        <script type="text/javascript" src="/js/base64.js"></script>
        <script type="text/javascript" src="/js/admin.js"></script>
        <script type="text/javascript" src="/js/tinyeditor.js"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>